.signup-container {
    max-width: 400px;
    margin : 200px auto;
    padding : 20px;
    border : 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    text-align:center;
}

.signup-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.signup-input{
    padding : 10px;
    font-size : 16px;
    border-radius :5px;
    border: 1px solid #aaa;
}

.signup-button {
    padding : 10px;
    font-size: 16px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius : 5px;
    cursor: pointer;
}